*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  link[href="pp/jox.jpg"] {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  body {
    font-family: 'Matrix Code NFI', monospace;
    background-color: #f1f1f1;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  h2 {
    padding: 20px;
    font-size: 20px;
    color: #333;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  h2:hover {
    background-color: #ddd;
  }
  
  .accordion-content {
    padding: 20px;
    display: none;
    color: #666;
    font-size: 16px;
  }
  
  .accordion-content p {
    margin-bottom: 10px;
  }
  
  .active {
    background-color: #ddd;
  }
  
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    .accordion-content {
      font-size: 14px;
    }
  }
  
  /* Updated Styles for Sections */
  
  section {
    padding: 40px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    padding: 10px;
    font-size: 24px;
    color: #333;
    background-color: #f1f1f1;
    border-bottom: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  h2:hover {
    background-color: #ddd;
  }
  
  /* accordion */
  .accordion-content {
    margin-top: 20px;
    display: none;
    color: #666;
    font-size: 18px;
  }
  
  .active {
    background-color: #ddd;
  }
  
  
  /* footer */
  footer {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* contact me section*/
  .business-card {
    text-align: center;
  }
  
  .business-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .business-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .business-card p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .contact-info h3,
  .social-media h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  /* make look better you lazy fuck */
  pre code {
    font-family: 'Matrix Code NFI', monospace;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #312f2f;
    display: block;
    padding: 20px;
  }
  
  .box {
    overflow: auto;  /*fixed ? - yes s*/
    width: 100%;
    max-width: 500px; /* Adjust the value as needed */
    margin: 0 auto;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .box pre {
    overflow-x: auto;
    position: static;  /*attepting to fix code display on smaller screens*/
  }
  
  .box h4 {
    font-size: 16px;
  }
  
  .box code {
    font-size: 14px;
    white-space: pre-wrap;
  }
  
  
  /* body {
    font-family: 'Matrix Code NFI', monospace;
  }*/
  
  
  form {
    margin-top: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="color"] {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
  }
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }